/* html{
  background-color: black;
} */
body{
  width: 80%;
  margin: auto;
}
#header{
  background:url(/assets/backgrounds/landing.jpg) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
}
.sub-head{
  display: flex;
}