/* html{
  background-color: black;
} */
body{
  width: 80%;
  height: 100%;
  margin: auto;
}

#header{
  background:url('./assets/backgrounds/landing.jpg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  color: white;
  font-size: xx-large;
}

#header p{
  margin: 5px;
}

.sub-head{
  display: flex;
}

.meals{
  width: 25%;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  display: flex;
  color: white;
  font-style: italic;
  font-size: xx-large;
}

.happy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  width: 25%;
  height: 200px;
  text-align: center;
}

.happy #white{
  color: black;
  background-color: whitesmoke;
}

.happy #orange{
  color: white;
  background-color: #f15a29;
}

.happy div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

#breakfast{
  background-image: url('./assets/foodtop/breakfast.jpg');
}

#lunch{
  background-image: url('./assets/foodtop/lunch.jpg');
}

#dinner{
  background-image: url('./assets/foodtop/dinner.jpg');
}

#lunch:hover{
  background-color: whitesmoke;
  opacity: 0.4;
}